<div class="list-wrap">
<% @lists.each do |list| %>
  <div class="list-box">
    <% if list.image.attached? %>
      <%= image_tag list.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'no_image', size: "200x200" %>
    <% end %>
    <div class="list-comment">
      <span class="list-body"><%= list.body %></span>
      <spam class="list-title"><%=link_to list.title, list_path(list.id) %></spam>
    </div>
  </div>
<% end %>
</div>

